DATABASE_DRIVER=postgres
DATABASE_SOURCE=postgresql://postgres:qwer1234@127.0.0.1:5432/monitoring?sslmode=disable
SERVER_ENVIRONMENT=debug
SERVER_ADDRESS=0.0.0.0:8080
GMAIL_USER=someemail@gmail.com
GMAIL_PASS=somepassword