@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>value</th>
                <th>timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts.Data)
            {
                <tr>
                    <td>@forecast.Value</td>
                    <td>@forecast.Dibuat_pada</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MonitoringValue? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<MonitoringValue>("http://localhost:8080/api/v1/monitoring/value/6c5b224c-bcf4-4f7b-9a3d-b61d744675b4");
    }

    public class MonitoringValue
    {
        public MonitoringValueData[] Data { get; set; }
    }

    public class MonitoringValueData
    {
        public float Value { get; set; }

        public string Dibuat_pada { get; set; }
    }
}
