@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome To Mopoen</h1>

Selamat datang di Sistem Survey Potensi Energi! Kami sangat senang Anda bergabung dengan kami untuk memantau dan menganalisis hasil survei potensi energi Anda.
<br>
Dengan fitur daftar monitoring, Anda dapat dengan mudah memantau hasil survei Anda dan meninjau data terkini. Kami juga menyediakan fitur analisis rata-rata hasil monitoring yang akan membantu Anda dalam membuat keputusan yang tepat dan memperbaiki kinerja energi Anda.
<br>
Kami berkomitmen untuk memberikan pengalaman terbaik bagi pengguna kami. Jangan ragu untuk menghubungi kami jika Anda memerlukan bantuan atau memiliki pertanyaan tentang aplikasi kami.
<br>

<SurveyPrompt Title="Terima kasih telah memilih Survey Potensi Energi Mopoen." />
