@page "/monitoring"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>tipe_sensor</th>
                <th>nama</th>
                <th>keterangan</th>
                <th>address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts["data"])
            {
                <tr>
                    <td><RadzenLink Path=@PathToAnalysis(@forecast.Id) Text=@forecast.Nama /></td>
                    <td>@forecast.Tipe_sensor</td>
                    <td>@forecast.Keterangan</td>
                    <td>@forecast.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string path = "http://localhost:8080/api/v1";
    private Dictionary<string, MonitoringTerdaftar[]>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<Dictionary<string, MonitoringTerdaftar[]>>($"{path}/monitoring/terdaftar");
    }

    public string PathToAnalysis(string id)
    {
        return $"{path}/monitoring/terdaftar/{id}";
    }

    public class MonitoringTerdaftar
    {
        public string Id { get; set; } = string.Empty;
        public int Tipe_sensor_id { get; set; }
        public string Tipe_sensor { get; set;} = string.Empty;
        public string Nama { get; set;} = string.Empty;
        public string Keterangan { get; set;} = string.Empty;
        public string Address { get; set;} = string.Empty;
    }

    
}
