@page "/monitoring"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn-primary" onclick="window.open('@downloadPath()');">download csv</button>
    <div Class="rz-p-0 rz-p-md-12">
        <RadzenChart>
            <RadzenColumnSeries Data="@Forecasts" CategoryProperty="Time" ValueProperty="Average" />
        </RadzenChart>
    </div>
}

@code {
    private string path = "http://localhost:8080/api/v1";
    private DataItem[]? Forecasts;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        if (!query.ContainsKey("id")) return;
        Id = query["id"];

        var data = await Http.GetFromJsonAsync<AnalisaMonitoring>($"{path}/monitoring/analisa/{Id}");
        if (data == null) {
            return;
        }
        Forecasts = new DataItem[]
        {
            new DataItem { Time = "Pagi", Average = data.Pagi?.Average ?? 0 },
            new DataItem { Time = "Siang", Average = data.Siang?.Average ?? 0 },
            new DataItem { Time = "Sore", Average = data.Sore?.Average ?? 0 },
            new DataItem { Time = "Malam", Average = data.Malam?.Average ?? 0 },
        };
    }

    private string downloadPath()
    {
        return $"localhost:8080/download/csv/{Id}";
    }

    public class AnalisaMonitoring
    {
        public ResultMonitoring? Overall { get; set; }
        public ResultMonitoring? Pagi { get; set; }
        public ResultMonitoring? Siang { get; set;}
        public ResultMonitoring? Sore { get; set;}
        public ResultMonitoring? Malam { get; set;}
    }

    public class ResultMonitoring
    {
        public int Total { get; set; }
        public float Average { get; set; }
    }

    public class DataItem
    {
      public string Time { get; set; } = string.Empty;
      public float Average { get; set; }
    }

    public string Id { get; set; } = string.Empty;
}
