@page "/terdaftar"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration
@inject IConfiguration cfg

<PageTitle>Monitoring Terdaftar</PageTitle>

<h1>Monitoring Terdaftar</h1>

<p>Halaman Monitoring Terdaftar menampilkan daftar monitoring yang terdaftar dan analisis berdasarkan waktu dengan beberapa grafik yang memudahkan anda.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Tipe Sensor</th>
                <th>Keterangan</th>
                <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts["data"])
            {
                <tr>
                    <td><RadzenLink Path=@PathToAnalysis(@forecast.Monitoring_id) Text=@forecast.Nama /></td>
                    <td>@forecast.Tipe_sensor</td>
                    <td>@forecast.Keterangan</td>
                    <td>@forecast.Alamat</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string addr = "localhost:8080";
    private Dictionary<string, MonitoringTerdaftar[]>? forecasts;
    
    protected override async Task OnInitializedAsync()
    {
        string value = Environment.GetEnvironmentVariable("VARIABLE_NAME") ?? string.Empty;
        value = value == string.Empty?cfg["ApiAddress"]:value??addr;
        addr=value;
        
        forecasts = await Http.GetFromJsonAsync<Dictionary<string, MonitoringTerdaftar[]>>($"http://{addr}/api/v1/monitoring/terdaftar");
    }

    public string PathToAnalysis(string id)
    {
        return $"monitoring?id={id}";
    }

    public class MonitoringTerdaftar
    {
        public string Monitoring_id { get; set; } = string.Empty;
        public int Tipe_sensor_id { get; set; }
        public string Tipe_sensor { get; set;} = string.Empty;
        public string Nama { get; set;} = string.Empty;
        public string Keterangan { get; set;} = string.Empty;
        public string Alamat { get; set;} = string.Empty;
    }

    
}
